body {
  background-color:#3a3a3a;
  box-sizing:border-box;
  font-family:'Nova Cut', cursive;
  text-align:center;

}
img {
  vertical-align:middle;
}
.slideshow-container {
max-width:1000px;
  position:relative;
  margin:0auto;
}



