body {
  background-color:#3a3a3a;
  box-sizing:border-box;
  font-family:'Nova Cut', cursive;
  text-align:center;

}
img {
  vertical-align:middle;
  width:420px;
  max-width:100%;
}
.slideshow-container {
 max-width:1000px;
  position:relative;
  margin:0 auto;
}
.myslide {
  position:relative;
}
.numbertext {
  color:#e9ffc9;
position :absolute;
  top:0;
  padding : 8px 220px;
  font-size:18px;
}
.text {
  color:#e9ffc9;
position :absolute;
  padding:8px 12px;
  font-size:18px;
  width: 100%;
  bottom:8px;
  text-align:center;
}
.dot {
width:15px;
height:15px;
margin :0px 2px;
background-color:#e9ffc9;
  display:inline-block;
  transition:background-color 0.6s ease;
  border-radius:50%;
  
}

@media only screen and (max-width: 300px){
  .text { font-size:11px;}
}
.dot-container {
  text-align:center;
  margin-top:30px;
}

.dots {
  width:15px;
height:15px;
background-color:#e9ffc9;
  display:inline-block;
  transition:background-color 0.7s ease;
  border-radius:50%;
}
.fade {
  -webkit-animation-name:fade;
   -webkit-animation-duration:2s;
   animation-name:fade;
   animation-duration:2s;
  
}
@-webkit-keyframes fade {
  from{opacity: .4}
  to{opacity: 1}
}
@keyframes fade{
  from{opacity: .4}
  to{opacity: 1}
}
.active {
  background-color:#cbff7c;
}
